/*AKU KENE YA KOLIP BEN GA RUSAK*/
/* ==================================================ABOUT========================================================================= */
#about {
    background-color: var(--warna2);
}
/* ==================================================KOMENTAR========================================================================= */
#komentar {
    background-color: var(--warna1);
}
/* ==================================================KAMI QUOTES========================================================================= */
#kami {
    background-color: var(--warna2);
}