/*AKU KENE YA KOLIP BEN GA RUSAK*/
/* ==================================================ABOUT========================================================================= */
#about {
    background-color: var(--warna2);
}
 

 
/* ==================================================KOMENTAR========================================================================= */
/* #komentar {
    background-color: var(--warna1);
} */

.container_kom {
    width: auto;
    height: 500px;
    margin: 30px 40px;
    /* margin: 40px 60px ; */
    padding: 0 50px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
    border-radius: 5px;
    background-color: rgb(217, 72, 101);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .post {
    margin: 10px 0;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .post-header img {
    height: 70px;
  }
  
  .post-content {
    padding: 10px;
  }

/* ==================================================KAMI QUOTES========================================================================= */
/* #kata {
    background-color: aquamarine ;
} */

.wrapper{
    display: flex;
    width: 100%;
    position: relative;
    overflow-x: hidden;
  }

.wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #f2f2f2;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
  }
  .carousel img:first-child{
    margin-left: 0px;
  }
  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }
  }


