/* ------------------UTAMA--------------------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {
    --bg: #f5f5f5;

    --warna1: #fff;
    /* Replace with your primary color value */
    --warna2: #EC594C;
    /* Replace with your secondary color value */
    --warna3: #343333;
}

.vh {
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 0 80px;
}

.sosmed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.bundar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'montserrat';
    font-size: 37px;
    font-weight: 600;
    color: #000000;
    margin: 10px;
    cursor: pointer;
    user-select: none;
}

.ig {
    background: transparent;
    box-shadow: inset 0 0 0 2px #000000;
    transition: .3s;
}

.fb {
    background: transparent;
    box-shadow: inset 0 0 0 2px #000000;
    transition: .3s;
}

.x {
    background: transparent;
    box-shadow: inset 0 0 0 2px #000000;
    transition: .3s;
}

.yt {
    background: transparent;
    box-shadow: inset 0 0 0 2px #000000;
    transition: .3s;
}

.ig:hover {
    background: linear-gradient(150deg, #4F5BD5 9.89%, rgba(79, 91, 213, 0.00) 56.54%), linear-gradient(213deg, #DA1B82 32.64%, #FEBF48 90.25%);
    box-shadow: none;
    color: white;
    filter: drop-shadow(0px 0px 9px rgba(255, 255, 255, 0.20));
}

.fb:hover {
    background: #1877F2;
    box-shadow: none;
    color: white;
    filter: drop-shadow(0px 0px 9px rgba(255, 255, 255, 0.20));
}

.x:hover {
    background: #0f0f0f;
    box-shadow: none;
    color: white;
    filter: drop-shadow(0px 0px 9px rgba(255, 255, 255, 0.20));
}

.yt:hover {
    background: #F00;
    box-shadow: none;
    color: white;
    filter: drop-shadow(0px 0px 9px rgba(255, 255, 255, 0.20));
}

#xtwt {
    height: 30px;
    fill: #000000;
}

#xtwt:hover {
    fill: white;
}

.kartu {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 100px;
    border-radius: 20px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    border-radius: 20px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-front img {
    border-radius: 20px;
}

.flip-card-back {
    background-color: whitesmoke;
    color: black;
    transform: rotateY(180deg);
    justify-content: center;
    padding: 60px;
}

/* ========================================HEADER================================================================ */

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* max-width: 1000px; */

}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #08031c;
    overflow-x: hidden;
    /* overflow: hidden; */

}

main {
    padding: 0px;
    /* overflow: auto; */
    background: var(--bg);
    /* background: linear-gradient(to right, #cbbeff 0%, #ffc6d8 100%);
    background-size: 400%;
    animation: gradient 15s ease infinite; */
}




.logo {
    display: flex;
    height: 50px;
    position: relative;
    color: var(--warna1);
    margin-left: 10px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li a {
    font-size: 20px;
    font-weight: 400px;
    padding: 10px 0;
    display: block;
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all;
    transition-duration: 300ms;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 2px;
    bottom: 6px;
    border-radius: 2px;
    left: 10%;
    background-color: var(--warna2);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav a.active::after {
    transform: scaleX(1);
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav li {
    /* display: inline; */
    list-style-type: none;
    margin-right: 20px;
    display: flex;
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: rgb(253, 253, 253);
    z-index: 1000;
    box-shadow: 0 0 6px rgba(24, 24, 24, 0.3);
    /* Add a z-index to ensure the navigation is on top */
    padding: 5px 80px;
    /* padding: 10px; */
    gap: 20px;
    border-radius: 0 0 20px 20px;
    /* background-color: red; */
}

.menu-icon {
    /* background-color: tomato; */
    font-size: 28px;
    display: none;
    cursor: pointer;
}

.btnLogin-popup {
    display: inline-block;
    margin-right: 10px;
    width: 200px;
    position: relative;
    padding: 10px 20px;
    background-color: #ffffff;
    /* Button background color */
    color: #000000;
    /* Button text color */
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btnLogin-popup:hover {
    background-color: #fc7165;
    color: white;
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


header {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 1000;

}

footer {
    padding: 20px;
    color: white;
    background: linear-gradient(#EC594C, #fc7165);
    text-align: center;
    font-weight: bold;
}


/* SECTIONNN */
/* ==================================================HEADER========================================================================= */
#home {
    background: linear-gradient(45deg, #EC594C, #fc7165);

}

.container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.kepala {
    font-size: 20px;

    background-image: url(../image/hutan.jpg);
    text-align: left;
    color: rgb(22, 22, 22);

}

.gambar img {
    width: auto;
    height: 500px;
}

/* ==================================================CONTACT========================================================================= */
#contact {
    justify-content: center;
    height: 250px;
    width: 100%;
    padding: 30px 0;
    padding: auto 30px;
    text-align: center;
    position: relative;
    color: #000000;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
        top: 0;
        background-color: white;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        background-color: white;
    }

    nav ul li:last-of-type {
        padding-bottom: 8px;
    }

    nav ul.navigation {
        display: none;
    }

    .menu-icon {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width:1000px) {

    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

#kami {
    background-color: var(--warna2);
    margin-top: 60px;
    padding-top: 50px;
}

#kami h2 {
    color: #EC594C;
}

#kami h2:hover {
    color: white;
}